{% extends 'base.html' %}

{% block title %}403 Forbidden - ChkounDone{% endblock %}

{% block styles %}
<style>
    .background-image-403 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url("{{ url_for('static', filename='background/403.webp') }}") no-repeat center center fixed;
        background-size: cover;
        filter: blur(15px);
        z-index: -10;
    }
</style>
{% endblock %}

{% block content %}
<div class="background-image-403"></div>
<div class="text-center my-5 text-white">
    <h1 class="display-1 fw-bold">403</h1>
    <p class="h2">Access Denied</p>
    <p class="lead">
        Sorry, you do not have permission to access this page.
    </p>
    <div class="mt-4">
        <a href="{{ url_for('main.home') }}" class="btn btn-primary btn-lg">
            <i class="bi bi-house-door-fill"></i> Return Home
        </a>
        <a href="{{ url_for('main.contact') }}" class="btn btn-outline-secondary btn-lg">
            <i class="bi bi-question-circle-fill"></i> Contact Us
        </a>
    </div>
</div>
{% endblock %}
