{% extends 'base.html' %}

{% block title %}About Us - ChkounDone{% endblock %}

{% block styles %}
<style>
    .background-image-about {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url("{{ url_for('static', filename='background/about.webp') }}") no-repeat center center fixed;
        background-size: cover;
        filter: blur(20px);
        z-index: -10;
    }
    .quote-container {
        font-family: Georgia, serif;
        border-left: 5px solid #0d6efd; /* Bootstrap primary color */
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="background-image-about"></div>
<div class="container py-5 ">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">About ChkounDone</h1>
            <p class="lead">At ChkounDone, we believe in making task management as simple and efficient as possible. Founded in 2024, our platform has helped thousands of individuals and teams boost their productivity, organize their tasks, and achieve their goals.</p>
            <p>With a focus on user experience, we've designed ChkounDone to be intuitive, flexible, and powerful. Whether you're managing personal tasks or collaborating with a team, ChkounDone offers the tools you need to stay on track and get things done.</p>
            
            <div class="mt-5">
                <h2>Our Mission</h2>
                <p>Our mission is to empower people around the world to achieve their potential by providing a top-tier task management solution. We're dedicated to continuous improvement and are always looking for ways to make ChkounDone even better.</p>
            </div>
            
            <div class="mt-5">
                <h2>Meet the Team</h2>
                <p> 
                    ChkounDone is the product of a singular vision: mine. 
                        As the sole developer, designer, and support staff behind this platform, 
                        I pour every ounce of my passion and dedication into delivering this experience. 
                        To echo the words of the renowned philosopher Al-Farabi, 
                </p>
                <div class="quote-container bg-transparent-white-60">
    
                        <div class="blockquote text-end">The truest form of wealth is the richness of the soul. Persist in your endeavors, for the grind polishes the individual just as water shapes the stone.</div>
                        
                </div>
            </div>
            
            <div class="mt-5">
                <h2>Contact Us</h2>
                <p>Have questions or feedback? We'd love to hear from you. Get in touch with us at <a href="mailto:support@chkoundone.com">support@chkoundone.com</a>, or visit our <a href="{{ url_for('main.contact') }}">Contact</a> page.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
