<footer class="footer mt-auto py-3 m-2 rounded shadow" style="background:rgba(0,0,0,0.6)">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <p class="text-white mb-0">© 2024 ChkounDone. All rights reserved.</p>
            <small class="text-white">Your ultimate task management solution.</small>
        </div>
        <div>
            <a href="{{ url_for('main.about') }}" class="text-white me-2">About Us</a>|
            <a href="{{ url_for('main.contact') }}" class="text-white ms-2">Contact</a>
        </div>
    </div>
</footer>
