{% extends 'base.html' %}

{% block title %}ChkounDone: Login{% endblock %}

{% block styles %}
{{ super() }}
<style>
  .login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("{{ url_for('static', filename='background/login.webp') }}") no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }

  .login-container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .login-form .bi {
    width: 1.5em;
    margin-right: 0.5em;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-background"></div>
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="login-container bg-transparent-white-65">
        <h2 class="text-center mb-4">Login to ChkounDone</h2>
        <form action="{{ url_for('users.login') }}" method="post" class="login-form">
          {{ form.hidden_tag() }}
          <div class="mb-3 input-group">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            {{ form.username.label(class="visually-hidden") }}
            {{ form.username(class="form-control" + (" is-invalid" if form.username.errors else ""), placeholder="Username") }}
            {% for error in form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="mb-3 input-group">
            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
            {{ form.password.label(class="visually-hidden") }}
            {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), placeholder="Password") }}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="d-grid gap-2">
            {{ form.submit(class="btn btn-primary", value="Login") }}
          </div>
        </form>
        <div class="text-center mt-3">
          <p>Don't have an account? <a href="{{ url_for('users.signup') }}" class="link-primary">Sign up here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
